<div *ngIf="post" class="body-blur">

  <div class="row">
    <div class="columns small-12 medium-10">
      <a routerLink="/" id="back" class="back">Back</a>
      <h1>{{ post.title }}</h1>
    </div>
    <div class="columns small-12 medium-2">
      <a href="{{ post.url }}" target="_blank" id="external-btn" class="external-btn">
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 49.9 48.2" style="enable-background:new 0 0 49.9 48.2;" xml:space="preserve" style="width:100%;height:100%;">
              <g id="group">
                <ellipse class="ellipse" cx="25" cy="24.1" rx="25" ry="24.1"/>
                <polygon class="arrow" points="38.6,12.1 38.1,12.1 22.8,12 14.9,18.4 26.6,18.5 11.3,36.3 19.8,36.1 32.1,21.8 32.1,32.9 38.4,27.1 
                  38.5,18.6 38.6,18.6 38.6,12.1 38.6,12.1 "/>
              </g>
        </svg>
      </a>
    </div>
  </div>

  <div class="row columns">
    <p>{{ post.description }}</p>
  </div>
</div>