
p {
    font-size: 1.5em;
}

a.back {
    background: url('/assets/images/back.svg') no-repeat;
    width: 100px;
    display: block;
    color: #232630;
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 35px;
    padding-top: 14px;
    padding-bottom: 16px;    
    margin-bottom: 5px;
}

